@mixin shadow {
  transition: 150ms linear;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


$large-device-width: 1199px; // Large devices (desktops, less than 1200px)
$medium-device-width: 991px; // Medium devices (tablets, less than 992px)
$small-device-width: 767px; // Small devices (landscape phones, less than 768px)
$extra-small-device-width: 575px;   // Extra small devices (portrait phones, less than 576px)


//-------------------- Responsive --------------------//
@mixin desktop {
  @media (max-width: #{$large-device-width}) {
    @content;
  }
 }
 @mixin tablet {
  @media (max-width: #{$medium-device-width}) {
    @content;
  }
 }
 @mixin mobile {
 @media (max-width: #{$small-device-width}) {
    @content;
  }
 }
 @mixin extra-small-mobile {
  @media (max-width: #{$extra-small-device-width}) {
    @content;
  }
 }
 
