.responsiveTable {
    .paginate_button {
        border-radius: 50% !important;
        padding: 4px 10px !important;
    }
    .previous,
    .next {
        border-radius: 0 !important;
    }

    .dataTables_scrollBody {
        border: none !important
    }
    input[type="search"] {
        border: 1px solid#ccc;
        border-radius: 2px;
        height: 34px;
    }
    .buttons-csv {
        display: none !important;
    }
    div.dt-buttons {
        float: right;
        padding-left: 10px;
    }
    // table.dataTable thead .sorting {
    //     background-image: url('src/assets/images/sort.svg');
    //     background-size: 12px;
    // }
    // table.dataTable thead .sorting_asc,
    //  table.dataTable thead .sorting_desc {
    //     background-image: url('src/assets/images/svg/sort_asc.svg') !important;
    //     background-size: 15px;
    // }

    // table.dataTable thead .sorting_asc {
    //     background-image: url('src/assets/images/svg/sort_asc.svg') !important;
    //     background-size: 15px;
    //     }


    //     table.dataTable thead .sorting_desc {
    //     background-image: url('src/assets/images/svg/sort_desc.svg') !important;
    //     background-size: 15px;
    //     }

    table.dataTable thead th {
        padding: 5px 18px;
        border-bottom: 1px solid #3587d8;
    }
    thead th {
        background: #3587d8;
        color: #fff;
    }
    table {
        width: 100% !important;
        tr {
            background-color: #f8f8f8;
            border: none;
            &:nth-of-type(odd) {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
        th,
        td {
            border: 1px solid #dee2e6;
        }
    }
    @media screen and (max-width: 600px) {
        table {
            border: 0;
            thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
            tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: 0.625em;
            }
            td {
                border-bottom: 1px solid #ddd;
                display: block;
                text-align: right;
                &::before {
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}